/* Alapbeállítások */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background 2s ease-in-out; /* Animált átmenet a háttérkép változtatásakor */
}

/* Központi tartalom */
.container {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    animation: fadeIn 1.5s ease;
}

.main-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.holiday-name {
    font-size: 1.5rem;
    margin: 20px 0;
    font-weight: 600;
}

.countdown {
    font-size: 2rem;
    margin: 10px 0;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.holiday-select {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 30px;
    border: none;
    color: #000000;
    background: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.holiday-select:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

/* Animáció */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
